<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sửa thông tin nhân viên</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Sửa thông tin nhân viên</h1>
  <form action="/invoices/<%= invoice._id %>" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="PUT">
    <label for="customerName">Tên nhân viên:</label>
    <input type="text" id="customerName" name="customerName" value="<%= invoice.customerName %>" required><br><br>
    
    <label for="item">Email:</label>
    <input type="text" id="item" name="item" value="<%= invoice.item %>" required><br><br>
    
    <label for="quantity">Tuổi:</label>
    <input type="number" id="quantity" name="quantity" value="<%= invoice.quantity %>" required><br><br>
    
    <label for="price">Lương:</label>
    <input type="number" id="price" name="price" value="<%= invoice.price %>" required><br><br>
    
    <label for="productImage">Hình ảnh nhân viên (nếu cần thay đổi):</label>
    <input type="file" id="productImage" name="productImage"><br><br>
  
    <button type="submit">Lưu thay đổi</button>
  </form>  
</body>
</html>
